<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105905449078-gpklu7mogdtifctcokg1im9k9voeiao4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105905449078-gpklu7mogdtifctcokg1im9k9voeiao4</string>
	<key>API_KEY</key>
	<string>AIzaSyAC3EmonZPeWkDJL7XJ0VQK5IZHeurq1t0</string>
	<key>GCM_SENDER_ID</key>
	<string>105905449078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filteringApp</string>
	<key>PROJECT_ID</key>
	<string>filtering-app-2a2dc</string>
	<key>STORAGE_BUCKET</key>
	<string>filtering-app-2a2dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105905449078:ios:453e150637d4546f04d757</string>
	<key>DATABASE_URL</key>
	<string>https://filtering-app-2a2dc.firebaseio.com</string>
</dict>
</plist>